body {
    margin: 0%;
    padding: 0%;
    background: url(https://bit.ly/2mlmP6f);
    background-size:     cover;                      /* <------ */
     background-repeat:   no-repeat;
    background-position: center center;
}

.navbar {
    background-color: transparent;
    position: relative;
    z-index: 4;
}

.nav-link {
    font-size: 14px;
}

.nav-link:hover {
    font-size: 17px;
    color: #86ef40;
}

main {
    /* position: absolute; */
    top: 0;
    z-index: 0;
}

.carousel-item img{
width:1136px;
height: 812px;

}
.site-wrapper{
    margin-left: 0;
}

.carousel-control-prev,
.carousel-control-next {
    width: 8%;
    /* max-width: 100%;
    max-height: 600px; */
}

.site-wrapper {
    height: 640px;
}

.card,
.list-group-item {
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 1;
}


.parallax {
    background-image: url("https://bit.ly/2Ju5jH5");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}