{{#partial "content"}}
    <h4><a href="/">Home</a></h4>

    <h1>Animal details</h1>

    {{#if nameOfAnimal}}
        Name:{{nameOfAnimal}}
        Reported by: {{rangerName}}
    {{else}}
        <p>To report a sighting, please visit the <a href="/">home page</a>.</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}