<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parallax</title>
    <link rel="stylesheet" href="css/app.css" type="text/css">
</head>
<body>
<section class="sec0">
    <!--navbar-->
    <div class="rect">
        <div class="rectangle">
            <div class="textOver">
                <h1 style="font-size: 48px;font-weight: 600;text-align: center">This is for Rangers</h1>

<!--                <div class="pic1"><img src="https://bit.ly/2kD6c5C"></div>-->
<!--                <div class="pic2"><img src="https://bit.ly/2kD8TUM"></div>-->
<!--                <div class="pic3"><img src="https://bit.ly/2kO1sKm"></div>-->
<!--                <div class="pic4"><img src="https://bit.ly/2lXjqdo"></div>-->
            </div>
            <ul>
                <li>
                    <a href="#">
                        <span>Home</span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Blog</span>
                        <span>Blog</span>
                    </a>
                </li>
                <li>
                    <a href="/animal/new">
                        <span>Animal</span>
                        <span>Animal</span>
                    </a>
                </li>
                <li>
                    <a href="/endangeredAnimal/new">
                        <span>Endagered</span>
                        <span>Endagered</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Help</span>
                        <span>Help</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Contacts</span>
                        <span>Contacts</span>
                    </a>
                </li>
            </ul>
            <!-- <div class="textOver"></div> -->
        </div>
    </div>
</section>
<section class="sec1"></section>
<section class="secText">
    <h1>Select Whether Animal Is Endagered or Not</h1>
    <p>If the animal is endangered click here or the link on the navbar labelled
        Endangered.Fill out the animal's estimate age if young,newborn or adult
        fill it's health statistics as well, does it look ill,okay or healthy.
        Also make sure you fill in the sighting details. Douglas Fir has on three
        known zones A,B and C or you could use a sighting Id respectively 1,2,3.
        If The animal is not Endagered click here and fill the form.
    </p>
</section>
<section class="sec2"></section>
<section class="secText">
    <h1>Forums on online Platforms and Blogs</h1>
    <p>We also hold forums every Monday and Thursday as well as write blogs.
        The forum helps us receive feedback both positive and negative from the Douglas Fir
        community.This helps us improve and work better on the reserve. Every person is invited
        to give their honest reviews about the way our team is performing in regards to the
        wildlife animals. And As for the blogs we write interesting stories and did you knows about
        all kinds of animals that we have expertise on. You can as well reach us on facebook and twitter.
    </p>
</section>
<section class="sec3"></section>
<section class="secText">
    <h1>Donate and save an endangered animal</h1>
    <p>Our reserve and services are based on saving the wildlife animals.
        But it's unfortunate not enough resources are available to sustain all
        the animals in Douglas Fir forest. Due to this we have decided to sell
        timber from our forest to ensure all the animals get a suitable care and
        clinic services as well.Through this process we hope to protect our wildlife
        animals most especially the Endagered ones. Your contribution will be highly
        appreciated no matter the amount.</p>
</section>
<section class="sec4"></section>

</body>
</html>

